
<div class="page-header">
    <h1>Update Your Profile</h1>
</div>


<div class="main-header">
    <h5><a href="/users/dashboard">Back to Dashboard</a></h5>
</div>

<section class="spread-form">
    <form action="/users/update-profile_method=PATCH" method="post">
        <div class="input-section">
            <div class="input-header">
                <h5>Name</h5>
            </div>
            <div class="input-data">
                <label for="fName">First</label>
                <input type="text" name="fname" id="fName" value="<%= user.fname %>">
            </div>
            
            <div class="input-data">
                <label for="lName">Last</label>
                <input type="text" name="lname" id="lName" value="<%= user.lname %>">
            </div>

        </div>

        <div class="input-section">
            <div class="input-header">
                <h5>Contact</h5>
            </div>

            <div class="input-data">
                <label for="phone1"><i class="fas fa-phone"></i></label>
                <input type="number" name="phone1" id="phone1" value="<%= user.phone1 %>">
            </div>
            <div class="input-data">
                <label for="phone2"><i class="fas fa-mobile"></i></label>
                <input type="number" name="phone2" id="phone2" value="<%= user.phone2 %>">
            </div>
            <div class="input-data">
                <label for="email2"><i class="far fa-envelope"></i></label>
                <input type="email" name="email2" id="email2" value="<%= user.email2 %>">
            </div>
        </div>
        <button type="submit">Update</button>
    </form>
</section>